@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 background-color: rgb(255, 255, 255);
  min-height: 100dvh;
font-family:"poppins" , sans-serif;
text-align: center;
box-sizing: border-box;
overflow-x:hidden ;

}






